@model QuickOrderTemplateModel

@{
	Layout = "_ColumnsOne";
	var themeName = await themeContext.GetWorkingThemeNameAsync();
	NopHtml.AddTitleParts(T("PageTitle.QuickOrderDetails").Text);
	NopHtml.AppendPageCssClassParts("html-account-page");
	NopHtml.AppendPageCssClassParts("html-customer-info-page");
	NopHtml.AppendPageCssClassParts("html-b2b-b2c-feature");
	NopHtml.AppendPageCssClassParts("quick-order-details");
	await Html.PartialAsync("~/Plugins/NopStation.Plugin.B2B.B2BB2CFeatures/Views/Shared/_DatatableScripts.cshtml");
	NopHtml.AddCssFileParts("~/Plugins/NopStation.Plugin.B2B.B2BB2CFeatures/Content/css/quickorderstyles.css");
	NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/NopStation.Plugin.B2B.B2BB2CFeatures/Content/scripts/quickorder.js");
}

<style>
	body a {
		font: normal 14px Arial,Helvetica,sans-serif;
		font-size: 14px;
		color: #777;
	}

	.header-overlap .header-menu {
		z-index: 5 !important;
	}

	.header-overlap .header {
		z-index: 10 !important;
	}
</style>

<div class="page quick-order-page quick-order-details-page">
	<div class="page-body">
		<div class="quick-order-head">
			<div class="quick-order-header-div">
				<h3 class="quick-order-heading">@Model.Name</h3>
				<button class="btn-edit-quick-order-head" onclick="showTemplateNameEditField()">@T("common.edit")</button>
			</div>
		</div>
		<div class="quick-order-heading-input-div">
			<input type="text" class="quick-order-heading-input" name="name" asp-for="@Model.Name" />
			<button class="btn btn-primary heading-save-btn">@T("Common.Save")</button>
		</div>
		<div class="card card-default">
			<div class="card-body quick-order-card-body">
				<div class="card-search">
					<div class="row">
						<div class="col-md-3 form-group ProductId">
							<div class="row form-inline" style="">
								<div class="col-md-8">
									<nop-label asp-for="@Model.AddQuickOrderItem.ProductId" />
									<input type="text" style="width:100%" id="search-product-name" placeholder="@T("NopStation.B2BB2CFeatures.ProductName.Placeholder")" autocomplete="off" class="form-control" />
									<input asp-for="@Model.AddQuickOrderItem.ProductId" autocomplete="off" style="display: none;" />
									<script asp-location="Footer">
										$(document).ready(function () {
											$('#search-product-name').autocomplete({
												delay: 500,
												minLength: 3,
												source: '@(Url.Action("ProductSearchAutoComplete"))',
												select: function (event, ui) {
													$('#@Html.IdFor(model => model.AddQuickOrderItem.ProductId)').val(ui.item.productid);
													$('#@Html.IdFor(model => model.AddQuickOrderItem.ProductSku)').val(ui.item.productsku);
													$('#search-product-friendly-name').text(ui.item.label);
													$('#search-product-clear').show();
													return false;
												}
											});

											//remove button
											$('#search-product-clear').click(function () {
												//clear input value
												$('#search-product-name').val('');
												$("#@Html.IdFor(model => model.AddQuickOrderItem.ProductSku)").val('');
												$("#@Html.IdFor(model => model.AddQuickOrderItem.Quantity)").val('');

												$('#@Html.IdFor(model => model.AddQuickOrderItem.ProductId)').val('0');
												$('#search-product-friendly-name').text('');
												$('#search-product-clear').hide();
												return false;
											});
										});
									</script>
								</div>
							</div>
						</div>
						<div class="col-md-3 form-group">
							<div class="row">
								<div class="col-md-8">
									<nop-label asp-for="@Model.AddQuickOrderItem.ProductSku" />
									<nop-editor asp-for="@Model.AddQuickOrderItem.ProductSku" />
									<span asp-validation-for="@Model.AddQuickOrderItem.ProductSku"></span>
								</div>
							</div>
						</div>
						<div class="col-md-4 form-group Quantity">
							<div class="row">
								<div class="col-md-8">
									<nop-label asp-for="@Model.AddQuickOrderItem.Quantity" />
									<input asp-for="@Model.AddQuickOrderItem.Quantity" value="" />
									<span asp-validation-for="@Model.AddQuickOrderItem.Quantity"></span>
								</div>
							</div>
						</div>
						<div class="col-md-2 form-group">
							<button type="button" id="addOrderItem" class="btn btn-primary add-new-record">@T("Admin.Common.AddNewRecord")</button>
						</div>
					</div>
				</div>
				<div class="float-right">
					<a asp-route="QuickOrder" id="quick-order-back-to-list" class="btn btn-primary back-to-list">@T("NopStation.B2BB2CFeatures.BackToList")</a>
					<button class="btn btn-primary import-excel" id="importFromExcelButton">
						@T("Admin.Common.ImportFromExcel")
					</button>
					<button class="btn btn-primary add-to-cart quick-order-add-to-cart-button" onclick="placeQuickOrderFromDetails(@Model.Id)">@T("ShoppingCart.AddToCart")</button>
				</div>
			</div>
			<div class="form-inline row">
				<span id="search-product-friendly-name"></span>
				<button type="button" id="search-product-clear" class="btn bg-gray" style="display: none; margin-top: 5px;">@T("Admin.Common.Clear")</button>
			</div>
		</div>
	</div>
	<div class="card-body">
		@{
			var gridModel = new DataTablesModel
			{
				Name = "quick-order-item-list-grid",
				UrlRead = new DataUrl("LoadQuickOrderItemList", "QuickOrder", new RouteValueDictionary
				{
					[nameof(Model.QuickOrderItemSearchModel.QuickOrderTemplateId)] = Model.QuickOrderItemSearchModel.QuickOrderTemplateId,
					[nameof(Model.QuickOrderItemSearchModel.Validate)] = Model.QuickOrderItemSearchModel.Validate
				}),
				UrlUpdate = new DataUrl("QuickOrderItemUpdate", "QuickOrder", null),
				UrlDelete = new DataUrl("QuickOrderItemDelete", "QuickOrder", null),
				Length = Model.QuickOrderItemSearchModel.PageSize,
				LengthMenu = Model.QuickOrderItemSearchModel.AvailablePageSizes
			};
			gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderItemModel.Id))
			{
				Title = T("Admin.Common.Delete").Text,
				Width = "100",
				ClassName = NopColumnClassDefaults.Button,
				Render = new RenderButtonRemove(T("Admin.Common.Delete").Text)
			});
			gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderItemModel.Name))
			{
				Title = T("NopStation.B2BB2CFeatures.QuickOrderItemModel.Fields.Name").Text,
				Width = "400",
				ClassName = "product-name"
			});
			gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderItemModel.ProductIsOnSpecialIconUrl))
			{
				Title = "",
				Width = "400",
				Render = new RenderCustom("renderProductOnSpecialIcon")
			});
			gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderItemModel.StockAvailability))
			{
				Title = string.IsNullOrEmpty(Model.DisplayNameForPrimaryStock) ?
			T("NopStation.B2BB2CFeatures.QuickOrderItemModel.Fields.StockAvailability").Text :
			Model.DisplayNameForPrimaryStock,
				Width = "100"
			});
			gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderItemModel.Price))
			{
				Title = T("NopStation.B2BB2CFeatures.QuickOrderItemModel.Fields.UnitPrice").Text,
				Width = "100",
				ClassName = "price-value-column"
			});

			gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderItemModel.PricingNotes))
			{
				Title = T("NopStation.B2BB2CFeatures.QuickOrderItemModel.Fields.PricingNotes").Text,
				Width = "100",
				ClassName = "price-value-column"
			});

			gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderItemModel.UOM))
			{
				Title = T("NopStation.B2BB2CFeatures.QuickOrderItemModel.Fields.UOM").Text,
				Width = "50",
				ClassName = "uom-column"
			});

			gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderItemModel.Quantity))
			{
				Title = T("NopStation.B2BB2CFeatures.QuickOrderItemModel.Fields.Quantity").Text,
				Width = "50",
				Editable = true,
				ClassName = "item-quantity-column",
				EditType = EditType.Number,
				Render = new RenderCustom("renderColumnItemQuantity"),
			});
			gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderItemModel.ValidationResult))
			{
				Title = T("NopStation.B2BB2CFeatures.QuickOrderItemModel.Fields.ValidationResult").Text,
				Width = "200",
				ClassName = "validation-results"
			});
		}
		@await Html.PartialAsync("Table", gridModel)

		<div class="quick-order-action quick-order-item-action" style="float:right;">
			<button class="btn btn-primary add-to-cart quick-order-add-to-cart-button" onclick="placeQuickOrderFromDetails(@Model.Id)">@T("ShoppingCart.AddToCart")</button>
		</div>

	</div>
</div>

<div id="updateQuickOrderTemplateDialog" class="custom-modal" title="@T("NopStation.B2BB2CFeatures.QuickOrderTemplate.UpdateTemplateDialog.Title")" style="display: none;">
	<form asp-controller="OverridenOrder" asp-action="ReOrder" class="quote-order-confirm-accept-form" method="post" enctype="multipart/form-data">
		<div class="popup-content">
			@T("NopStation.B2BB2CFeatures.QuickOrderTemplate.TempalteNameChanged")
		</div>
		<div class="quick-order-confirm-buttons popup-button-wrapper">
			<input type="button" name="accept" onclick="CloseQuickOrderTemplateDialog()" value="@T("common.ok")" class="btn popup-button" />
		</div>

		<script asp-location="Footer">
			function CloseQuickOrderTemplateDialog() {
				$("#updateQuickOrderTemplateDialog").dialog("destroy");
			}
		</script>
	</form>
</div>

<script asp-location="Footer">
	function renderColumnInfo(data, type, row, meta) {
		return '<a class="btn btn-info" href=/' + data + '><i class="fa fa-eye"></i>Info</a>';
	}

	function renderProductOnSpecialIcon(data, type, row, meta) {
		if (row.ProductIsOnSpecialIconUrl !== '') {
			return '<div class="on-special-product">' +
					   '<img src="@Url.Content(B2BB2CFeaturesDefaults.ProductIsOnSpecialIconPath)" ' +
							'alt="Product On Special" />' +
					   '<span class="tooltip-text">' +
							'@T("Plugin.Misc.NopStation.Plugin.B2B.B2BB2CFeatures.SpecialProductMessage")' +
					   '</span>' +
				   '</div>';
		}
		return '';
	}

	$(".pencil-img").click(function () {
		showTemplateNameEditField()
	});

	function showTemplateNameEditField() {
		$(".quick-order-heading-input-div").show()
		$(".quick-order-head").hide()
	}
	$(".quick-order-heading-input").keyup(function (event) {
		if (event.keyCode === 13) {
			saveHeading();
		}
	});

	$(".heading-save-btn").click(function () {
		saveHeading();
	});

	function saveHeading() {
		UpdateQuickOrderTemplateName();
	}

	function CancelUpdateHeading() {

		$(".quick-order-heading-input-div").hide()
		$(".quick-order-head").show()
	}

	function UpdateQuickOrderTemplateName() {
		var quickOrderTemplateName = $(".quick-order-heading-input").val().toString().trim()

		if (quickOrderTemplateName.length > 0) {
			$.ajax({
				cache: false,
				type: "POST",
				url: "@Html.Raw(Url.Action("UpdateQuickOrderTemplateName", "QuickOrder", new { quickOrderTemplateId = Model.Id }))",
				data: {
					quickOrderTemplateName: quickOrderTemplateName,
				},
				success: function (data, textStatus, jqXHR) {
					$(".quick-order-heading").text($(".quick-order-heading-input").val())
					$("#updateQuickOrderTemplateDialog").dialog({
						modal: true,
						draggable: false,
						closeOnEscape: true
					});
				},
				complete: function (jqXHR, textStatus) {

				}
			});
		}
		$(".quick-order-heading-input-div").hide()
		$(".quick-order-head").show()

	}

	function UpdateQuantity(actionType, itemId, quantity) {
		$.ajax({
			url: '/QuickOrder/QuickOrderItemQuantityUpdate/',
			type: 'POST',
			data: {
				actionType: actionType,
				itemId: itemId,
				quantity: quantity
			},
			dataType: "json",
			success: function (response) {
				if (response.Result) {
					displayBarNotification(response.Msg, 'success', 0);
				}
				else if (response.Msg) {
					//display errors if returned
					displayBarNotification(response.Msg, 'error', 0);
				}
				//reload grid
				updateTable('#quick-order-item-list-grid');
			},
			error: function () {
				console.log("Can Not Load B2B Data");
			}
		});
	}

	$("#importFromExcelButton").click(function (event) {
		event.preventDefault();
		$("#importModal").dialog({
			modal: true,
			draggable: false,
			closeOnEscape: true
		});

	});

	$(document).ready(function () {
		// $('#closeProductDetailsModel').click(function () {
		//     $('#showProductDetails').css('display', 'none');
		// });

		// $('#closeImportModel').click(function () {
		//     $('#importModal').css('display', 'none');
		// });
		$('#addOrderItem').click(function () {
			var productSku = $("#@Html.IdFor(model => model.AddQuickOrderItem.ProductSku)").val();
			var quantity = $("#@Html.IdFor(model => model.AddQuickOrderItem.Quantity)").val();
			var productId = @Model.Id;

			if (isNaN(productId)) {
				displayBarNotification("Product Sku can't be empty or null", 'error', 0);
			}
			else if (productSku === '') {
				displayBarNotification("Product Sku can't be empty or null", 'error', 0);
			}
			else if (isNaN(quantity) || quantity === '' || quantity <= 0) {
				displayBarNotification("Qunatity is not valid", 'error', 0);
			} else {

				$('#addOrderItem').attr('disabled', true);
				var postData = {
					ProductSku: $("#@Html.IdFor(model => model.AddQuickOrderItem.ProductSku)").val(),
					Quantity: $("#@Html.IdFor(model => model.AddQuickOrderItem.Quantity)").val(),
					QuickOrderTemplateId: @Model.Id
																						};
				addAntiForgeryToken(postData);

				$.ajax({
					cache: false,
					type: "POST",
					url: "@Html.Raw(Url.Action("QuickOrderItemCreate", "QuickOrder"))",
					data: postData,
					success: function (data, textStatus, jqXHR) {
						if (data.Result) {
							//reload grid
							updateTable('#quick-order-item-list-grid');

							displayBarNotification(data.Msg, 'success', 3500);

							//clear input value
							$("#@Html.IdFor(model => model.AddQuickOrderItem.ProductSku)").val('');
							$("#@Html.IdFor(model => model.AddQuickOrderItem.Quantity)").val('');

							$('#search-product-clear').click();
						} else if (data.Msg) {
							displayBarNotification(data.Msg, 'error', 0);
						}
					},
					complete: function (jqXHR, textStatus) {
						$('#addOrderItem').attr('disabled', false);
					}
				});
			}


		});

		function delay(fn, ms) {
			let timer = 0
			return function (args) {
				clearTimeout(timer)
				timer = setTimeout(fn.bind(this, args), ms || 0)
			}
		}

		$('#quick-order-item-list-grid').on('input', '.item-quantity', delay(function (e) {
			var currentQuantity = parseInt($(this).val(), 10);
			var itemidId = $(this).data("itemid");
			UpdateQuantity('update', itemidId, currentQuantity);
		}, 800));
	});
</script>

<script type="text/javascript" asp-location="Footer">
	function renderColumnItemQuantity(data, type, row, meta) {
		return '<div style="display: flex;justify - content: space-between;"><button class="btn btn - info" onclick=\"UpdateQuantity(\'minus\',' + row.Id + ')\">-</button><input style="width:50px;text-align: center;" class="item - quantity" data-itemid="' + row.Id + '" value="' + row.Quantity + '"/><button class="btn btn - info" onclick=\"UpdateQuantity(\'plus\',' + row.Id + ')\">+</button></div>';
	}

	function placeQuickOrderFromDetails(templateId) {
		$.ajax({
			cache: false,
			type: "GET",
			dataType: "json",
			url: "/IsItemsInCart/",
			success: function (response) {
				if (!response.success) {
					displayAjaxLoading(true)
					QuickOrderJs.disableQuickOrderListAddToCartButton(templateId);
					var reorderActionUrl = "/QuickOrder/QuickOrderAddToCart?templateId=" + templateId;
					setLocation(reorderActionUrl);
				}
				else {
					$("#quickOrderDetailsConfirmAcceptDialog").dialog({
						modal: true,
						draggable: false,
						closeOnEscape: true
					});
				}
			},
			error: function (jqXHR, textStatus, errorThrown) {
				console.log("Error. Please Reload");
			}
		});
	}
</script>

<div id="quickOrderDetailsConfirmAcceptDialog" class="custom-modal" title="@T("NopStation.B2BB2CFeatures.ConfirmAcceptDialog.AddToCart.Confirm")" style="display: none;">
	<form asp-controller="QuickOrder" asp-action="QuickOrderAddToCart" class="quick-order-confirm-accept-form" method="post" enctype="multipart/form-data">
		<div class="popup-content">@T("NopStation.B2BB2CFeatures.ConfirmAcceptDialog.AddToOrRemoveFromCart")</div>
		<div class="popup-button-wrapper">
			<button id="quickOrderPopupClearCartButton" type="button" value="@T("NopStation.B2BB2CFeatures.ConfirmAcceptDialog.TermsAndCondition.ClearCart")"
					class="popup-button" onclick="popUpPlaceOrder(this, @Model.Id);">
				@T("NopStation.B2BB2CFeatures.ConfirmAcceptDialog.TermsAndCondition.ClearCart")
			</button>
			<button type="button" value="@T("NopStation.B2BB2CFeatures.ConfirmAcceptDialog.TermsAndCondition.KeepItemsInCart")"
					class="popup-button" onclick="popUpPlaceOrder(this, @Model.Id);">
				@T("NopStation.B2BB2CFeatures.ConfirmAcceptDialog.TermsAndCondition.KeepItemsInCart")
			</button>
			<button type="button" name="cancel" onclick="closeQuickOrderDetailsConfirmAcceptPopup()" value="@T("NopStation.B2BB2CFeatures.ConfirmAcceptDialog.TermsAndCondition.Cancel")"
					class="popup-button">
				@T("NopStation.B2BB2CFeatures.ConfirmAcceptDialog.TermsAndCondition.Cancel")
			</button>
		</div>
	</form>

	<script asp-location="Footer">
		function renderColumnAttributesInfo(data, type, row, meta) {
			return data;
		}

		function popUpPlaceOrder(popUpData, templateId) {
			QuickOrderJs.disableAddToCartButton(templateId);
			QuickOrderJs.disablePopUpAddToCartButton();
			displayAjaxLoading(true);

			if ($(popUpData).attr('id') == 'quickOrderPopupClearCartButton') {
				QuickOrderJs.clearCart(false);
			}

			var reorderActionUrl = '/QuickOrder/QuickOrderAddToCart?templateId=' + templateId;
			setLocation(reorderActionUrl);
		}

		function closeQuickOrderDetailsConfirmAcceptPopup() {
			$("#quickOrderDetailsConfirmAcceptDialog").dialog("destroy");
		}
	</script>
</div>

<div id="importModal" class="custom-modal" title="@T("NopStation.B2BB2CFeatures.importExcelDialog.Title")" style="display: none;">
	<form asp-controller="QuickOrder" asp-action="ImportExcel" asp-route-templateId="@Model.Id" method="post" enctype="multipart/form-data">

		<div class="popup-input-wrapper">
			<label class="control-label">
				@T("Admin.Common.ExcelFile")
			</label>
			<input type="file" id="importexcelfile" name="importexcelfile" class="form-control" />
		</div>
		<div class="popup-button-wrapper">
			<button type="submit" class="popup-button btn-quick-order-action" onclick="displayAjaxLoading(true)">
				@T("Admin.Common.ImportFromExcel")
			</button>
		</div>
	</form>
</div>

<script asp-location="Footer">
	$(document).ready(function () {
		$('.header').on('mouseenter', '#topcartlink', function () {
			$('body').addClass('header-overlap');
		});
		$('.header').on('mouseleave', '#topcartlink', function () {
			$('body').removeClass('header-overlap');
		});
		$('.header').on('mouseenter', '#flyout-cart', function () {
			$('body').addClass('header-overlap');
		});
		$('.header').on('mouseleave', '#flyout-cart', function () {
			$('body').removeClass('header-overlap');
		});
	});
</script>