@model QuickOrderTemplateSearchModel

@{
    Layout = "_ColumnsOne";
    //title
    NopHtml.AddTitleParts(T("PageTitle.QuickOrder").Text);

    //page class
    NopHtml.AppendPageCssClassParts("html-account-page");
    NopHtml.AppendPageCssClassParts("html-customer-info-page");
    NopHtml.AppendPageCssClassParts("html-b2b-b2c-feature");
    NopHtml.AppendPageCssClassParts("quick-order-list");
    NopHtml.AddCssFileParts("~/Plugins/NopStation.Plugin.B2B.B2BB2CFeatures/Content/css/quickorderstyles.css");
    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/NopStation.Plugin.B2B.B2BB2CFeatures/Content/scripts/quickorder.js");
    await Html.PartialAsync("~/Plugins/NopStation.Plugin.B2B.B2BB2CFeatures/Views/Shared/_DatatableScripts.cshtml");
    var gridName = "quick-order-list-grid";
}
<style>
    body a {
        font: normal 14px Arial,Helvetica,sans-serif;
        font-size: 14px;
        color: #777;
    }

    .header-overlap .header-menu {
        z-index: 5 !important;
    }

    .header-overlap .header {
        z-index: 10 !important;
    }
</style>

<div class="page quick-order-page quick-order-list-page">
    <div class="page-title">
        <h1>@T("Plugins.Misc.NopStation.B2BB2CFeatures.QuickOrderList")</h1>
    </div>
    <div class="card card-default">
        <div class="card-body search-and-import-buttons">
            <div class="card card-default card-search p-4">
                <div class="row">

                    <div class="col-md-4" style="margin:auto">
                        <div class="form-group SearchName">
                            <div class="input-inline">
                                <label>@T("NopStation.B2BB2CFeatures.QuickOrderTemplate.Label.SearchName")</label>
                                <input asp-for="SearchName" type="text" placeholder="@T("NopStation.B2BB2CFeatures.QuickOrderTemplate.Fields.SearchName")" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4" style="margin:auto">
                        <div class="form-group SearchCreatedOn">
                            <div class="input-inline">
                                <label>@T("NopStation.B2BB2CFeatures.QuickOrderTemplate.Label.SearchCreatedOn")</label>
                                <input asp-for="SearchCreatedOn" type="text" placeholder="@T("NopStation.B2BB2CFeatures.QuickOrderTemplate.Fields.SearchCreatedOn")" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="margin:auto">
                        <div class="form-group text-center">
                            <button type="button" id="search-quick-order" class="btn btn-primary btn-search btn-quick-order-action">
                                <i class="fa fa-search"></i>
                                @T("Admin.Common.Search")
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row" style="display: flex;flex-direction: row-reverse;margin:auto">
                <button class="btn btn-primary btn-quick-order-action margin-r-10 p-2" id="importFromExcelButton">@T("Admin.Common.ImportFromExcel")</button>
                <button id="quickListFavouriteButton" name="quickListFavouriteButton" value="@T("Plugin.Misc.NopStation.B2BB2CFeatures.AddToQuickListFavourite.Button")" class="btn btn-primary p-2">@T("Plugin.Misc.NopStation.B2BB2CFeatures.AddToQuickListFavourite.Button")</button>
            </div>
        </div>

        <div class="card-body">
            @{
                var gridModel = new DataTablesModel
            {
                Name = gridName,
                UrlRead = new DataUrl("LoadQuickOrderTemplateList", "QuickOrder", new RouteValueDictionary
                {
                    [nameof(Model.SearchCreatedOn)] = Model.SearchCreatedOn,
                    [nameof(Model.SearchName)] = Model.SearchName
                }),
                UrlDelete = new DataUrl("QuickOrderDelete", "QuickOrder", null),
                Length = Model.PageSize,
                LengthMenu = Model.AvailablePageSizes,
                SearchButtonId = "search-quick-order",
                Filters = new List<FilterParameter>
            {
            new FilterParameter(nameof(Model.SearchName)),
            new FilterParameter(nameof(Model.SearchCreatedOn))
            }
            };

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderTemplateModel.Id))
            {
                Title = T("Admin.Common.Delete").Text,
                Width = "100",
                ClassName = NopColumnClassDefaults.Button,
                Render = new RenderButtonRemove(T("Admin.Common.Delete").Text)
            });

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderTemplateModel.Name))
            {
                Title = T("NopStation.B2BB2CFeatures.QuickOrderTemplate.Fields.Name").Text,
                Width = "200",
                ClassName = "list-name"
            });

                var formatedRenderDate = new RenderDate();
                formatedRenderDate.Format = "DD/MM/YYYY";
                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderTemplateModel.CreatedOn))
            {
                Title = T("NopStation.B2BB2CFeatures.QuickOrderTemplate.Fields.CreatedOn").Text,
                Width = "200",
                Render = formatedRenderDate,
                ClassName = "created-on"
            });

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderTemplateModel.LastOrderDate))
            {
                Title = T("NopStation.B2BB2CFeatures.QuickOrderTemplate.Fields.LastOrderDate").Text,
                Width = "200",
                Render = formatedRenderDate,
                ClassName = "last-ordered"
            });

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderTemplateModel.TotalOrderItems))
            {
                Title = T("NopStation.B2BB2CFeatures.QuickOrderTemplate.Fields.TotalOrderItems").Text,
                Width = "200",
                ClassName = "total-items"
            });

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderTemplateModel.TotalValueText))
            {
                Title = T("NopStation.B2BB2CFeatures.QuickOrderTemplate.Fields.TotalValue").Text,
                Width = "90"
            });

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderTemplateModel.Id))
            {
                Title = T("Admin.Common.Edit").Text,
                Width = "100",
                ClassName = NopColumnClassDefaults.Button,
                Render = new RenderButtonEdit(new DataUrl("/FavouritesDetails/")) // should be matched with route provider
            });

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuickOrderTemplateModel.Id))
            {
                Title = T("NopStation.B2BB2CFeatures.QuickOrderTemplate.Fields.OrderNow").Text,
                Width = "200",
                Render = new RenderCustom("renderColumnViewOrderNow"),
                ClassName = NopColumnClassDefaults.Button
            });
            }
            @await Html.PartialAsync("Table", gridModel)
        </div>
    </div>

</div>

<div id="quickOrderListConfirmAcceptDialog" class="custom-modal" title="@T("NopStation.B2BB2CFeatures.ConfirmAcceptDialog.AddToOrRemoveFromCart.Title")" style="display:none;">
    <form asp-controller="QuickOrder" asp-action="QuickOrderAddToCart" class="quick-order-confirm-accept-form" method="post" enctype="multipart/form-data">
        <div class="popup-content">@T("NopStation.B2BB2CFeatures.ConfirmAcceptDialog.AddToOrRemoveFromCart")</div>

        <div class="popup-button-wrapper">
            <button id="quickOrderPopupClearCartButton" type="button" value="@T("NopStation.B2BB2CFeatures.ConfirmAcceptDialog.TermsAndCondition.ClearCart")"
                    class="quick-order-popup-clear-cart-button popup-button" onclick="placeOrder(this);">
                @T("NopStation.B2BB2CFeatures.ConfirmAcceptDialog.TermsAndCondition.ClearCart")
            </button>
            <button type="button" value="@T("NopStation.B2BB2CFeatures.ConfirmAcceptDialog.TermsAndCondition.KeepItemsInCart")"
                    class="quick-order-popup-add-to-cart-button popup-button" onclick="placeOrder(this);">
                @T("NopStation.B2BB2CFeatures.ConfirmAcceptDialog.TermsAndCondition.KeepItemsInCart")
            </button>
            <button type="button" name="cancel" onclick="closeQuickOrderListConfirmAcceptPopup()" value="@T("NopStation.B2BB2CFeatures.ConfirmAcceptDialog.TermsAndCondition.Cancel")"
                    class="popup-button">
                @T("NopStation.B2BB2CFeatures.ConfirmAcceptDialog.TermsAndCondition.Cancel")
            </button>
        </div>

        <input id="templateId" name="templateId" style="display:none;" />

        <script asp-location="Footer">
            function placeOrder(popUpData) {
                var templateId = $('#templateId').val();
                QuickOrderJs.disableAddToCartButton(templateId);
                QuickOrderJs.disablePopUpAddToCartButton();
                displayAjaxLoading(true);

                if ($(popUpData).attr('id') == 'quickOrderPopupClearCartButton') {
                    console.log("clear cart");
                    QuickOrderJs.clearCart(true);
                }

                var reorderActionUrl = '/QuickOrder/QuickOrderAddToCart?templateId=' + templateId;
                setLocation(reorderActionUrl);
            }

            function closeQuickOrderListConfirmAcceptPopup() {
                $("#quickOrderListConfirmAcceptDialog").dialog("destroy");
                $("#templateId").val("")
            }
        </script>
    </form>
</div>

<div id="quickListFavouriteDialog" class="custom-modal" title="@T("Plugin.Misc.NopStation.B2BB2CFeatures.AddToQuickListFavourite.Title")" style="display:none;">
    <form asp-controller="QuickOrder" asp-action="CreateQuickOrder" class="quick-order-create-form" method="post">

        <div class="popup-input-wrapper">
            <label for="Name">@T("NopStation.B2BB2CFeatures.QuickOrderTemplate.Fields.Name")</label>
            <input class="form-control" type="text" required id="Name" name="Name" placeholder="@T("NopStation.B2BB2CFeatures.QuickOrderTemplate.Fields.Name.PlaceHolderHint")">
            <span class="field-validation-valid popup-validation" data-valmsg-for="quickListFavouriteDialog" data-valmsg-replace="true"></span>
        </div>

        <div class="buttons popup-button-wrapper">
            <input type="submit" value="@T("Plugin.Misc.NopStation.B2BB2CFeatures.AddToQuickListFavourite.Save")" class="popup-button" />
        </div>
    </form>
</div>
</div>

<div id="importModal" class="custom-modal" title="@T("Plugin.Misc.NopStation.B2BB2CFeatures.ImportFavourite.Title")" style="display:none;">
    <form asp-controller="QuickOrder" asp-action="CreateWithImportExcel" method="post" enctype="multipart/form-data">
        <div class="popup-input-wrapper">
            <label class="control-label">
                @T("NopStation.B2BB2CFeatures.QuickOrder.Import.Popup.NameField")
            </label>
            <input type="text" id="templateName" name="templateName" class="form-control" />
        </div>
        <div class="popup-input-wrapper">
            <label class="control-label">
                @T("Admin.Common.ExcelFile")
            </label>
            <input type="file" id="importexcelfile" name="importexcelfile" class="form-control" />
        </div>
        <div class="popup-button-wrapper">
            <button type="submit" class="popup-button" onclick="displayAjaxLoading(true)">
                @T("Admin.Common.ImportFromExcel")
            </button>
        </div>
    </form>
</div>

<script asp-location="Footer">
    $("#SearchCreatedOn").datepicker({
        dateFormat: 'dd/mm/yy'
    });

    $("#CreateQuickOrder").click(function () {
        $('#CreateModal').modal("show");
    });

    $(document).ready(function () {
        setTimeout(function () {
            // ajax load the total price
            $('#@gridName').DataTable().ajax
                .url("/QuickOrder/LoadQuickOrderTemplateList?LoadTotalPrice=true").load();
        }, 900);
    });

    function placeQuickOrderFromList(templateId) {
        $.ajax({
            cache: false,
            type: "GET",
            dataType: "json",
            url: "/IsItemsInCart/",
            success: function (response) {
                if (!response.success) {
                    displayAjaxLoading(true)
                    QuickOrderJs.disableQuickOrderListAddToCartButton(templateId);
                    var reorderActionUrl = "/QuickOrder/QuickOrderAddToCart?templateId=" + templateId;
                    setLocation(reorderActionUrl);
                }
                else {
                    $("#templateId").val(templateId);
                    console.log("template id inside render " + $("#templateId").val());
                    $("#quickOrderListConfirmAcceptDialog").dialog({
                        modal: true,
                        draggable: false,
                        closeOnEscape: true
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Error. Please Reload");
            }
        });
    }

    $("#quickListFavouriteButton").click(function (event) {
        event.preventDefault();
        $("#quickListFavouriteDialog").dialog({
            modal: true,
            draggable: false,
            closeOnEscape: true
        });
    });

    $("#importFromExcelButton").click(function (event) {
        event.preventDefault();
        $("#importModal").dialog({
            modal: true,
            draggable: false,
            closeOnEscape: true
        });
    });

    function renderColumnViewOrderNow(data, type, row, meta) {
        //return '<a class="btn quick-order-cart-button" onclick="renderQuickOrderLink(' + data + ' )" >Order Now</a>';
        return '<button id="quickOrderListOrderButton' + data + '" class="btn btn-default btn- quick-order-cart-button" onclick="placeQuickOrderFromList(' + data + ')">@T("NopStation.B2BB2CFeatures.OrderNow")</button>';
    }

    $(document).ready(function () {
        $('.header').on('mouseenter', '#topcartlink', function () {
            $('body').addClass('header-overlap');
        });
        $('.header').on('mouseleave', '#topcartlink', function () {
            $('body').removeClass('header-overlap');
        });
        $('.header').on('mouseenter', '#flyout-cart', function () {
            $('body').addClass('header-overlap');
        });
        $('.header').on('mouseleave', '#flyout-cart', function () {
            $('body').removeClass('header-overlap');
        });
    });
</script>