@using Nop.Web.Areas.Admin.Models.Common;
@model ErpNopUserSearchModel

@{
    var customer = await workContext.GetCurrentCustomerAsync();

    const string hideSearchBlockAttributeName = "ErpNopUsersAccountPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);

    const string hideErpNopUserAccountsBlockAttributeName = "ErpErpNopUserAccountsPage.hideErpErpNopUserAccountsBlock";
    var hideErpNopUserAccountsBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideErpNopUserAccountsBlockAttributeName);
}

<div class="card-body">
    <div class="header-gap"></div>
    <div class="cards-group">
        <div class="card card-default card-search form-horizontal">
            <div class="card-body">
                <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                    <div class="search-text">@T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpNopUser.SearchNopUsers")</div>
                    <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                    <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                </div>
                <div class="search-body @(hideSearchBlock ? "closed" : "")">
                    <div class="form-group row">
                        <div class="col-md-5">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <nop-label asp-for="AccountId" />
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="search-account-code" autocomplete="off" placeholder="Search by Erp Account number" class="form-control" />
                                    <span id="search-account-by-code"></span>
                                    <button type="button" id="search-account-clear" class="btn bg-gray" style="display: none; margin-top: 5px;">@T("Admin.Common.Clear")</button>
                                    <input asp-for="AccountId" autocomplete="off" style="display: none;" />


                                    <script>
                                        $(document).ready(function () {
                                            $('#search-account-code').autocomplete({
                                                delay: 500,
                                                minLength: 3,
                                                source: function (request, response) {
                                                    $.ajax({
                                                        url: '@(Url.Action("ErpAccountSearchAutoComplete", "ErpAccount"))',
                                                        dataType: 'json',
                                                        data: { term: request.term },
                                                        success: function (data) {
                                                            // Check if there are no results
                                                            if (data.length === 0) {
                                                                response([{ label: 'No results found', value: '' }]);
                                                            } else {
                                                                response(data);
                                                            }
                                                        }
                                                    });
                                                },
                                                select: function (event, ui) {
                                                    if (ui.item.value === '' || ui.item.label === 'No results found') {
                                                        // No actual item selected, handle accordingly
                                                        return false;
                                                    }
                                                    $('#@Html.IdFor(model => model.AccountId)').val(ui.item.erpaccountid);
                                                    //console.log(ui.item);
                                                    $('#search-account-by-code').text(ui.item.label);

                                                    $('#search-account-clear').show();
                                                    return false;
                                                }
                                            });

                                            //remove button
                                            $('#search-account-clear').click(function () {
                                                $('#@Html.IdFor(model => model.AccountId)').val('0');
                                                $('#search-account-by-code').text('');
                                                $('#search-account-clear').hide();
                                                return false;
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <nop-label class="col-form-label" asp-for="Email" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="Email" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="text-center col-md-12">
                            <button type="button" id="search-erpNopUserAccount" class="btn btn-primary btn-search">
                                <i class="fas fa-search"></i>
                                @T("Admin.Common.Search")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-body">
                @await Html.PartialAsync("Table", new DataTablesModel
                {
                    Name = "NopErpAccounts-grid",
                    UrlRead = new DataUrl("NopUsersErpAccountList", "ErpNopUser", new RouteValueDictionary { [nameof(Model.NopUserId)] = Model.NopUserId }),
                    SearchButtonId = "search-erpNopUserAccount",
                    Length = Model.PageSize,
                    LengthMenu = Model.AvailablePageSizes,
                    Filters = new List<FilterParameter> 
                    {
                        new FilterParameter(nameof(ErpNopUserSearchModel.AccountId),typeof(string)),
                        new FilterParameter(nameof(ErpNopUserSearchModel.Email))
                    },
                    ColumnCollection = new List<ColumnProperty>
                    {
                        new ColumnProperty(nameof(ErpNopUserAccountModel.AccountNumber))
                        {
                            Title = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpAccount.Field.AccountNumber").Text,
                            Width = "150",
                            ClassName = NopColumnClassDefaults.CenterAll,
                            Render = new RenderLink(new DataUrl("~/Admin/ErpAccount/ErpAccountEdit", nameof(ErpNopUserAccountModel.Id)))
                        },
                        new ColumnProperty(nameof(ErpNopUserAccountModel.AccountName))
                        {
                            Title = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpAccount.Field.AccountName").Text,
                            Width = "150",
                            ClassName = NopColumnClassDefaults.CenterAll,
                        },
                        new ColumnProperty(nameof(AddressModel.Email))
                        {
                            Title = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpAccount.Field.Email").Text,
                            Width = "150",
                            ClassName = NopColumnClassDefaults.CenterAll,
                            Render = new RenderCustom("ShowEmail"),
                        },
                        new ColumnProperty(nameof(ErpNopUserAccountModel.VatNumber))
                        {
                            Title = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpAccount.Field.VatNumber").Text,
                            Width = "150",
                            ClassName = NopColumnClassDefaults.CenterAll,
                        },
                        new ColumnProperty(nameof(ErpNopUserAccountModel.SelectedCustomerRoles))
                        {
                            Title = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpNopUser.Field.Roles").Text,
                            Width = "150",
                            ClassName = NopColumnClassDefaults.CenterAll,
                        },
                        new ColumnProperty(nameof(ErpNopUserAccountModel.CreditLimit))
                        {
                            Title = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpAccount.Field.CreditLimit").Text,
                            Width = "150",
                            ClassName = NopColumnClassDefaults.CenterAll,
                        },
                        new ColumnProperty(nameof(ErpNopUserAccountModel.CurrentBalance))
                        {
                            Title = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpAccount.Field.CurrentBalance").Text,
                            Width = "150",
                            ClassName = NopColumnClassDefaults.CenterAll,
                        },
                        new ColumnProperty(nameof(ErpNopUserAccountModel.TotalSavingsForAllTime))
                        {
                            Title = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpAccount.Field.TotalSavingsForAllTime").Text,
                            Width = "150",
                            ClassName = NopColumnClassDefaults.CenterAll,
                        },
                        new ColumnProperty(nameof(ErpNopUserAccountModel.IsActive))
                        {
                            Title = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpAccount.Field.IsActive").Text,
                            Width = "60",
                            ClassName = NopColumnClassDefaults.CenterAll,
                            Render = new RenderBoolean(),
                        },
                        new ColumnProperty(nameof(ErpNopUserAccountModel.CreatedOn))
                        {
                            Title = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpAccount.Field.CreatedOn").Text,
                            Width = "150",
                            ClassName = NopColumnClassDefaults.CenterAll,
                            Render = new RenderDate()
                        },
                        new ColumnProperty(nameof(ErpNopUserAccountModel.Id))
                        {
                            Title = T("B2BB2CFeatures.Common.Button.Delete").Text,
                            Width = "80",
                            Render = new RenderCustom("renderErpNopUserAccountDelete"),
                            ClassName = NopColumnClassDefaults.Button
                        }
                    }
                })
            </div>
            <div class="card-footer">
                <div width="100%">
                    <button type="submit" id="btnAddErpNopUserAccount"
                            onclick="javascript:OpenWindow('@(Url.Action("ErpNopUserAccountAddPopUp", "ErpNopUser", new { erpNopUserId = Model.NopUserId, btnId = "btnRefresh", formId = "nop-user-account-form" }))', 800, 450, true); return false;"
                            class="btn btn-primary float-right">
                        @T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpNopUser.UserAccount.List.AddNew")
                    </button>
                    <input type="submit" id="btnRefresh" style="display: none" />
                    <script>
                        $(document).ready(function () {
                            $('#btnRefresh').click(function () {
                                //refresh grid
                                updateTable('#NopErpAccounts-grid');
                                //return false to don't reload a page
                                return false;
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function ShowEmail(data, type, row, meta) {
        return '<span>' + row.BillingAddress.Email + '</span >';
    }
</script>

<script>
    function renderErpNopUserAccountDelete(data, type, row, meta) {
        if (row.IsDefault)
            return '<button type="button" class="btn btn-default" disabled onclick="erpNopUserAccountDelete(\'' + row.Id + '\')"><i class="far fa-trash-alt"></i>@T("B2BB2CFeatures.Common.Button.Delete").Text</button>';
        else
            return '<button type="button" class="btn btn-default" onclick="erpNopUserAccountDelete(\'' + row.Id + '\')"><i class="far fa-trash-alt"></i>@T("B2BB2CFeatures.Common.Button.Delete").Text</button>';

    }
    function erpNopUserAccountDelete(erpAccountId) {
        var confirmDelete = confirm('@T("Admin.Common.DeleteConfirmation")');
        if (confirmDelete) {
            var postData = { erpAccountId: erpAccountId, nopUserId: @Model.NopUserId};
            addAntiForgeryToken(postData);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ErpNopUserAccountDelete", "ErpNopUser")', // Replace with the actual controller and action names if necessary
                data: postData,
                success: function (response) {
                    updateTable('#NopErpAccounts-grid');
                    //return false to don't reload a page
                    return false;
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        }
    }
</script>