@model ErpNopUserAccountMapModel
@using NopStation.Plugin.B2B.B2BB2CFeatures.Areas.Admin.Models

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<input asp-for="ErpUserId" type="hidden" />

@if ((ViewBag.RefreshPage as bool?) == true)
{
    <script>
        try { window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click(); }
        catch (e) { }
        window.close();
    </script>
}
<div class="content">
    <div class="form-horizontal">
        <div class="cards-group">
            <div class="card card-default">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="ErpAccountId" />
                        </div>
                        <div class="col-md-9">
                            <div class="input-group input-group-required">
                                <input type="text" id="search-account-code" autocomplete="on" placeholder="Search by Erp Account number" class="form-control" />
                                <div class="input-group-btn"><span class="required">*</span></div>
                            </div>

                            <span id="search-account-by-code"></span>
                            <button type="button" id="search-account-clear" class="btn bg-gray" style="display: none; margin-top: 5px;">@T("Admin.Common.Clear")</button>
                            <input asp-for="ErpAccountId" autocomplete="off" style="display: none;" />
                            <script>
                                $(document).ready(function () {
                                    $('#search-account-code').autocomplete({
                                        delay: 500,
                                        minLength: 3,
                                        source: function (request, response) {
                                            $.ajax({
                                                url: '@(Url.Action("ErpAccountSearchAutoComplete", "ErpAccount"))',
                                                dataType: 'json',
                                                data: { term: request.term },
                                                success: function (data) {
                                                    // Check if there are no results
                                                    if (data.length === 0) {
                                                        response([{ label: 'No results found', value: '' }]);
                                                    } else {
                                                        response(data);
                                                    }
                                                }
                                            });
                                        },
                                        select: function (event, ui) {
                                            if (ui.item.value === '' || ui.item.label === 'No results found') {
                                                // No actual item selected, handle accordingly
                                                return false;
                                            }
                                            $('#@Html.IdFor(model => model.ErpAccountId)').val(ui.item.erpaccountid);
                                            $('#search-account-by-code').text(ui.item.label);

                                            $('#search-account-clear').show();
                                            $('#validationMessageErpAccountId').hide();
                                            return false;
                                        }
                                    });

                                    if ('@Model.ErpAccountId' > 0) {
                                        $('#search-account-by-code').text('@Model.ErpAccountNumber');
                                        $('#search-account-clear').show();
                                    }

                                    //remove button
                                    $('#search-account-clear').click(function () {
                                        $('#@Html.IdFor(model => model.ErpAccountId)').val('0');
                                        $('#search-account-by-code').text('');
                                        $('#search-account-clear').hide();
                                        return false;
                                    });
                                });

                            </script>
                            <span asp-validation-for="ErpAccountId" id="validationMessageErpAccountId"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>