@model ErpProductPricingModel
@using NopStation.Plugin.B2B.B2BB2CFeatures.Areas.Admin.Models

@{
    Layout = "_AdminLayout";
    //title
    NopHtml.AddTitleParts(T("NopStation.Plugin.B2B.B2BB2CFeatures.SiteMapNode.Title.ErpAllProducts").Text);
    ViewBag.PageTitle = T("NopStation.Plugin.B2B.B2BB2CFeatures.SiteMapNode.Title.ErpAllProducts").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName(B2BB2CFeaturesDefaults.ErpAllProducts_SiteMapNode_SystemName);
}

@{
    var customer = await workContext.GetCurrentCustomerAsync();
    const string hideAddPriceGroupProductPricingBlockAttributeName = "AddErpPriceGroupProductPricing.HideAddNewBlock";
    var hideAddPriceGroupProductPricingBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideAddPriceGroupProductPricingBlockAttributeName);
    const string hideAddErpSpecialPriceBlockAttributeName = "AddErpSpecialPrice.HideAddNewBlock";
    var hideAddErpSpecialPriceBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideAddErpSpecialPriceBlockAttributeName);
}

<form asp-controller="ErpProductPricing" asp-action="ProductPricingByProduct" asp-route-productId="@Model.ProductId" method="post" id="product-pricing-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpProductPricing") of '@Model.ProductName (@Model.ProductSku) (Price - @Model.ProductPrice)'
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="AllProductList">@T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpProductPricing.BackToProductList")</a>
            </small>
        </h1>
        <div class="float-right">
            <a asp-action="Edit" asp-controller="Product" asp-route-Id="@Model.ProductId" class="btn btn-primary">
                <i class="far fa-eye"></i>
                @T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpProductPricing.ViewProduct")
            </a>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <nop-cards id="productpricing-panels">
                    <nop-card asp-name="productpricing-peraccount" asp-icon="fa fa-list" asp-title="@T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpSpecialPrice.List")"
                              asp-hide-block-attribute-name="@hideAddErpSpecialPriceBlockAttributeName"
                              asp-hide="@hideAddErpSpecialPriceBlock">@await Html.PartialAsync("_SpecialPrice", Model.ErpSpecialPriceSearchModel)</nop-card>

                    @await Html.PartialAsync("_PriceGroupProductPricing", Model.ErpPriceGroupProductPricingSearchModel)
                </nop-cards>
            </div>
        </div>
    </section>
</form>