@model SyncTaskModel

@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T("Plugin.Misc.NopStation.ErpDataScheduler.Admin.Configure").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("NopStation.ErpDataScheduler.SyncTaskList");
}

<div id="erp-data-scheduler-settings-div">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugin.Misc.NopStation.ErpDataScheduler.Tasks.Edit.Details") - @Model.Name
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Plugin.Misc.NopStation.ErpDataScheduler.Tasks.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" id="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" id="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="erp-data-scheduler-settings-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    <input asp-for="Id" type="hidden" />
    <input asp-for="QuartzJobName" type="hidden"/>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</div>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="erp-data-scheduler-settings-delete" />