@model ErpOrderAdditionalDataModel
@using NopStation.Plugin.B2B.B2BB2CFeatures.Areas.Admin.Models
@using NopStation.Plugin.B2B.ERPIntegrationCore.Enums

<div asp-validation-summary="ModelOnly"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <div class="cards-group">
            <div class="card card-default">
                <div class="card-body">
                    @if (Model.Id > 0)
                    {
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="OrderNumber" />
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" asp-for="NopOrderId" />
                                <a asp-controller="Order" asp-action="Edit" asp-route-id="@Model.NopOrderId">@Model.OrderNumber</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="ErpOrderNumber" />
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" asp-for="ErpOrderNumber" />
                                <div class="form-text-row">@Model.ErpOrderNumber</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="ErpOrderOriginType" />
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" asp-for="ErpOrderOriginTypeId" />
                                <div class="form-text-row">@Model.ErpOrderOriginType</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="ErpOrderType" />
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" asp-for="ErpOrderTypeId" />
                                <div class="form-text-row">@Model.ErpOrderType</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="OrderPlacedByNopCustomerEmail" />
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" asp-for="OrderPlacedByNopCustomerId" />
                                <a asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.OrderPlacedByNopCustomerId">@Model.OrderPlacedByNopCustomerEmail</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="ErpAccountName" />
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" asp-for="ErpAccountId" />
                                <a asp-controller="ErpAccount" asp-action="ErpAccountEdit" asp-route-id="@Model.ErpAccountId">@Model.ErpAccountName</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="ErpShipToName" />
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" asp-for="ErpShipToAddressId" />
                                <a asp-controller="ErpShipToAddress" asp-action="Edit" asp-route-id="@Model.ErpShipToAddressId">@Model.ErpShipToName</a>
                            </div>
                        </div>
                        @if (Model.ErpOrderTypeId == (int)ErpOrderType.B2BQuote || Model.ErpOrderTypeId == (int)ErpOrderType.B2CQuote)
                        {
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="QuoteExpiryDate" />
                                </div>
                                <div class="col-md-9">
                                    <input type="hidden" asp-for="QuoteExpiryDate" />
                                    <div class="form-text-row">@Model.QuoteExpiryDate</div>
                                </div>
                            </div>
                        }
                        if (Model.QuoteSalesOrderNopOrderId > 0)
                        {
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="QuoteSalesOrderNumber" />
                                </div>
                                <div class="col-md-9">
                                    <input type="hidden" asp-for="QuoteSalesOrderNopOrderId" />
                                    <a asp-controller="Order" asp-action="Edit" asp-route-id="@Model.QuoteSalesOrderNopOrderId">@Model.QuoteSalesOrderNumber</a>
                                </div>
                            </div>
                        }
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="ERPOrderStatus" />
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" asp-for="ERPOrderStatus" />
                                <div class="form-text-row">@Model.ERPOrderStatus</div>
                            </div>
                        </div>
                        <div class="form-group row" id="expectedDeliveryDateGroup">
                            <div class="col-md-3">
                                <nop-label asp-for="ExpectedDeliveryDate" />
                            </div>
                            <div class="col-md-9">
                                <div class="date-display-container" id="dateDisplayContainer">
                                    <div class="form-text-row">@Model.ExpectedDeliveryDate</div>
                                    @if (Model.ExpectedDeliveryDate != null &&
                                   Model.IntegrationStatusTypeId == (int)IntegrationStatusType.Failed)
                                    {
                                        <button type="button" id="editDateBtn" class="btn btn-primary">
                                            @T("Admin.Common.Edit")
                                        </button>
                                    }
                                </div>
                                <div class="date-edit-container d-none" id="dateEditContainer">
                                    <div class="d-flex align-items-center">
                                        <nop-editor asp-for="ExpectedDeliveryDate" />
                                        <button type="button" id="saveDateBtn" class="btn btn-primary">@T("Admin.Common.Save")</button>
                                        <button type="button" id="cancelDateBtn" class="btn btn-secondary">@T("Admin.Common.Cancel")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="IntegrationStatusType" />
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" asp-for="IntegrationStatusTypeId" />
                                <div class="form-text-row">@Model.IntegrationStatusType</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="IntegrationRetries" />
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" asp-for="IntegrationRetries" />
                                <div class="form-text-row">@Model.IntegrationRetries</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="IntegrationError" />
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" asp-for="IntegrationError" />
                                <div class="form-text-row">@Model.IntegrationError</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="IntegrationErrorDateTime" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.IntegrationErrorDateTime</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="CustomerReference" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.CustomerReference</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="SpecialInstructions" />
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" asp-for="SpecialInstructions" />
                                <div class="form-text-row">@Model.SpecialInstructions</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="LastERPUpdate" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.LastERPUpdate</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="ChangedOn" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.ChangedOn</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="ChangedByCustomerEmail" />
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" asp-for="ChangedById" />
                                <a asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.ChangedById">@Model.ChangedByCustomerEmail</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script asp-Location="Footer">
    $(document).ready(function() {
        const displayContainer = $('#dateDisplayContainer');
        const editContainer = $('#dateEditContainer');
        const editBtn = $('#editDateBtn');
        const saveBtn = $('#saveDateBtn');
        const cancelBtn = $('#cancelDateBtn');
        const dateInput = $('input[name="ExpectedDeliveryDate"]');

        function startLoading() {
            $('.please-wait').show();
            $('body').addClass('loading');
        }

        function stopLoading() {
            $('.please-wait').hide();
            $('body').removeClass('loading');
        }

        function toggleEditMode(show) {
            if (show) {
                displayContainer.addClass('d-none');
                editContainer.removeClass('d-none');
            } else {
                displayContainer.removeClass('d-none');
                editContainer.addClass('d-none');
            }
        }

        editBtn.on('click', function() {
            toggleEditMode(true);
        });

        cancelBtn.on('click', function() {
            toggleEditMode(false);
        });

        saveBtn.on('click', function() {
            const newDate = dateInput.val();
            if (!newDate) {
                alert('Please select a date');
                return;
            }

            startLoading();

            $.ajax({
                url: '@Url.Action("UpdateExpectedDeliveryDate", "ErpOrder")',
                type: 'POST',
                data: {
                    id: @Model.Id,
                    expectedDeliveryDate: newDate,
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                },
                success: function(response) {
                    if (response.success) {
                        window.location.reload();
                    } else {
                        alert(response.message || 'Failed to update the date');
                        stopLoading();
                    }
                },
                error: function() {
                    alert('An error occurred while updating the date');
                    stopLoading();
                }
            });
        });

        // Initialize datepicker
        /*dateInput.datepicker({
            showOn: "both",
            buttonText: "Select date",
            dateFormat: "dd/mm/yy"
        });*/
    });
</script>

<style>
    .date-display-container {
        display: flex;
        align-items: center;
    }

    .date-edit-container {
        margin-top: 5px;
    }
</style>