@model DomainModel

@{
    //page title
    ViewBag.Title = T("Plugins.Comalytics.DomainFilter.EditDomainDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Domain List");
}
<form asp-controller="DomainFilter" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.Comalytics.DomainFilter.EditDomainDetails") - @Model.DomainOrEmailName
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Plugins.Comalytics.DomainFilter.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="domain-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate.cshtml", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="domain-delete" />