@model DomainSearchModel

@{
    //page title
    ViewBag.Title = T("Plugins.Comalytics.DomainFilter.List").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Domain Filter List");
}
@{
    const string hideSearchBlockAttributeName = "DomainFilterListPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}
<form asp-controller="DomainFilter" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.Comalytics.DomainFilter.Domains")
        </h1>
        <div class="pull-right float-right">
            <a asp-action="Create" class="btn btn-primary">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            <button type="button" name="DomainImportExcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
                <i class="fa fa-upload"></i>
                @T("Admin.Common.Import")
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    @T("Admin.Common.Export")
                </button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">&nbsp;</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <button type="submit" name="exportexcel-all">
                            <i class="fa fa-file-excel-o"></i>
                            @T("Admin.Common.ExportToExcel.All")
                        </button>
                    </li>
                    <li>
                        <button type="button" id="exportexcel-selected">
                            <i class="fa fa-file-excel-o"></i>
                            @T("Admin.Common.ExportToExcel.Selected")
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        </div>
                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchDomainOrEmailName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchDomainOrEmailName" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchActiveId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchActiveId" asp-items="Model.AvailableActiveOptions" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchTypeId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchTypeId" asp-items="Model.AvailableTypeOptions" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-5">
                                    <button type="button" id="search-domains" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-body">
                        @{
                            var gridModel = new DataTablesModel
                            {
                                Name = "domains-grid",
                                UrlRead = new DataUrl("DomainList", "DomainFilter", null),
                                SearchButtonId = "search-domains",
                                Length = Model.PageSize,
                                LengthMenu = Model.AvailablePageSizes,
                                Filters = new List<FilterParameter>
                                {
                                    new FilterParameter(nameof(Model.SearchDomainOrEmailName)),
                                    new FilterParameter(nameof(Model.SearchTypeId)),
                                    new FilterParameter(nameof(Model.SearchActiveId))
                                }
                            };

                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(DomainModel.Id))
                            {
                                IsMasterCheckBox = true,
                                Render = new RenderCheckBox("checkbox_domains"),
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Width = "50",
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(DomainModel.DomainOrEmailName))
                            {
                                Title = T("Plugins.Comalytics.DomainFilter.List.Fields.DomainOrEmailName").Text,
                                Width = "200"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(DomainModel.Type))
                            {
                                Title = T("Plugins.Comalytics.DomainFilter.List.Fields.Type").Text,
                                Width = "200"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(DomainModel.IsActive))
                            {
                                Title = T("Plugins.Comalytics.DomainFilter.List.Fields.IsActive").Text,
                                Width = "200",
                                Render = new RenderBoolean()
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(DomainModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            });
                        }
                        @await Html.PartialAsync("Table", gridModel)
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form asp-controller="DomainFilter" asp-action="ExportExcelSelected" method="post" id="export-excel-selected-form">
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>

<script>
    $(document).ready(function () {
        $('#exportexcel-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-excel-selected-form #selectedIds').val(ids);
            $('#export-excel-selected-form').submit();
            updateTable('#domains-grid');
            return false;
        });
    });
</script>

@*import Domain List form*@
<div id="importexcel-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importexcel-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importexcel-window-title">@T("Admin.Common.ImportFromExcel")</h4>
            </div>
            <form asp-controller="DomainFilter" asp-action="DomainImportExcel" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="modal-body">
                        <ul class="common-list">
                            <li>
                                <em>@T("Admin.Catalog.Products.List.ImportFromExcelTip")</em>
                            </li>
                            <li>
                                <em>@T("Admin.Common.ImportFromExcel.ManyRecordsWarning")</em>
                            </li>
                        </ul>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <div class="label-wrapper">
                                    <label class="control-label">
                                        @T("Admin.Common.ExcelFile")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <input type="file" id="importexcelfile" name="importexcelfile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            @T("Admin.Common.ImportFromExcel")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>