@model ConfigurationModel

@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T("NopStation.Plugin.B2B.B2BB2CFeatures.SiteMapNode.Title.Configuration").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName(B2BB2CFeaturesDefaults.B2BB2C_Features_Configuration_SiteMapNode_SystemName);
}

@{
    var customer = await workContext.GetCurrentCustomerAsync();

    const string hideGeneralBlockAttributeName = "Configure.HideGeneralBlock";
    var hideGeneralBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideGeneralBlockAttributeName);

    const string hideExcelandpdfBlockAttributeName = "Configure.HideExcelandpdf";
    var hideExcelandpdfBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideGeneralBlockAttributeName);

    const string hideOrderBlockAttributeName = "Configure.HideOrderBlock";
    var hideOrderBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideOrderBlockAttributeName);

    const string hideFtpBlockAttributeName = "Configure.HideFtpBlock";
    var hideFtpBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideFtpBlockAttributeName);

    const string hideProductPriceBlockAttributeName = "Configure.HideProductPriceBlock";
    var hideProductPriceBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideProductPriceBlockAttributeName);

    const string hideProductStockBlockAttributeName = "Configure.HideProductStockBlock";
    var hideProductStockBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideProductStockBlockAttributeName);

    const string hideErpBlockAttributeName = "Configure.HideErpBlock";
    var hideErpBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideErpBlockAttributeName);

    const string hideCheckoutBlockAttributeName = "Configure.HideCheckoutBlock";
    var hideCheckoutBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideCheckoutBlockAttributeName);

    const string hideGoogleMapsBlockAttributeName = "Configure.HideGoogleMapsBlock";
    var hideGoogleMapsBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideGoogleMapsBlockAttributeName);

	const string hideSolTrackBlockAttributeName = "Configure.HideSolTrackBlock";
	var hideSolTrackBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideSolTrackBlockAttributeName);
}

<form asp-controller="B2BB2CFeatures" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("B2BB2CFeatures.Admin.Configure")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <nop-cards id="configure-cards">
                    <nop-card asp-name="configure-general" asp-icon="fas fa-info" asp-title="@T("B2BB2CFeatures.Admin.Configure.Block.General")" asp-hide-block-attribute-name="@hideGeneralBlockAttributeName" asp-hide="@hideGeneralBlock" asp-advanced="false">@await Html.PartialAsync("_Configure.General", Model)</nop-card>
                    <nop-card asp-name="configure-excelandpdf" asp-icon="fas fa-info" asp-title="@T("B2BB2CFeatures.Admin.Configure.Block.excelandpdf")" asp-hide-block-attribute-name="@hideExcelandpdfBlockAttributeName" asp-hide="@hideExcelandpdfBlock" asp-advanced="false">@await Html.PartialAsync("_Configure.Excelandpdf", Model)</nop-card>
                    <nop-card asp-name="configure-order" asp-icon="fas fa-clipboard" asp-title="@T("B2BB2CFeatures.Admin.Configure.Block.Order")" asp-hide-block-attribute-name="@hideOrderBlockAttributeName" asp-hide="@hideOrderBlock" asp-advanced="false">@await Html.PartialAsync("_Configure.Order", Model)</nop-card>
                    <nop-card asp-name="configure-ftp" asp-icon="fas fa-clipboard" asp-title="@T("B2BB2CFeatures.Admin.Configure.Block.Ftp")" asp-hide-block-attribute-name="@hideFtpBlockAttributeName" asp-hide="@hideFtpBlock" asp-advanced="false">@await Html.PartialAsync("_Configure.Ftp", Model)</nop-card>
                    <nop-card asp-name="configure-productPrice" asp-icon="fas fa-dollar-sign" asp-title="@T("B2BB2CFeatures.Admin.Configure.Block.ProductPrice")" asp-hide-block-attribute-name="@hideProductPriceBlockAttributeName" asp-hide="@hideProductPriceBlock" asp-advanced="false">@await Html.PartialAsync("_Configure.ProductPrice", Model)</nop-card>
                    <nop-card asp-name="configure-productStock" asp-icon="fas fa-sitemap" asp-title="@T("B2BB2CFeatures.Admin.Configure.Block.ProductStock")" asp-hide-block-attribute-name="@hideProductStockBlockAttributeName" asp-hide="@hideProductStockBlock" asp-advanced="false">@await Html.PartialAsync("_Configure.ProductStock", Model)</nop-card>
                    <nop-card asp-name="configure-erp" asp-icon="fas fa-cog" asp-title="@T("B2BB2CFeatures.Admin.Configure.Block.Erp")" asp-hide-block-attribute-name="@hideErpBlockAttributeName" asp-hide="@hideErpBlock" asp-advanced="false">@await Html.PartialAsync("_Configure.Erp", Model)</nop-card>
                    <nop-card asp-name="configure-checkout" asp-icon="fas fa-shopping-cart" asp-title="@T("B2BB2CFeatures.Admin.Configure.Block.Checkout")" asp-hide-block-attribute-name="@hideCheckoutBlockAttributeName" asp-hide="@hideCheckoutBlock" asp-advanced="false">@await Html.PartialAsync("_Configure.Checkout", Model)</nop-card>
                    <nop-card asp-name="configure-google-maps" asp-icon="fas fa-map" asp-title="@T("B2BB2CFeatures.Admin.Configure.Block.GoogleMaps")" asp-hide-block-attribute-name="@hideGoogleMapsBlockAttributeName" asp-hide="@hideGoogleMapsBlock" asp-advanced="false">@await Html.PartialAsync("_Configure.GoogleMaps", Model)</nop-card>
					<nop-card asp-name="configure-solTrack" asp-icon="fas fa-cog" asp-title="@T("B2BB2CFeatures.Admin.Configure.Block.SolTrack")" asp-hide-block-attribute-name="@hideSolTrackBlockAttributeName" asp-hide="@hideSolTrackBlock" asp-advanced="false">@await Html.PartialAsync("_Configure.SolTrack", Model)</nop-card>
                </nop-cards>
            </div>
        </div>
    </section>
</form>