@using NopStation.Plugin.B2B.B2BB2CFeatures.Areas.Admin.Models.ErpLogs
@model ErpLogsModel

@{
    Layout = "_AdminLayout";
    //title
    NopHtml.AddTitleParts(T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpLogs.Title.ViewDetails").Text);
    ViewBag.PageTitle = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpLogs.Title.ViewDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName(B2BB2CFeaturesDefaults.ErpLogs_SiteMapNode_SystemName);
}

<form asp-controller="ErpLogs" asp-action="View" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpLogs.ViewLogDetails")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpLogs.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <span id="log-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.LogDetailsButtons, additionalData = Model })
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default">
                        <div asp-validation-summary="All"></div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="ErpLogLevel" />
                                </div>
                                <div class="col-md-9">
                                    <div class="form-text-row">@Model.ErpLogLevel</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="ErpSyncLevel" />
                                </div>
                                <div class="col-md-9">
                                    <div class="form-text-row">@Model.ErpSyncLevel</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="ShortMessage" />
                                </div>
                                <div class="col-md-9">
                                    <div class="form-text-row">@Html.Raw(Model.ShortMessage)</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="FullMessage" />
                                </div>
                                <div class="col-md-9">
                                    <div class="form-text-row">@Html.Raw(Model.FullMessage)</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="IpAddress" />
                                </div>
                                <div class="col-md-9">
                                    <div class="form-text-row">@Model.IpAddress</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="CustomerId" />
                                </div>
                                <div class="col-md-9">
                                    @if (Model.CustomerId > 0)
                                    {
                                        <a asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.CustomerId">@(!string.IsNullOrEmpty(Model.ChangedByCustomerEmail) ? Model.ChangedByCustomerEmail : T("Admin.Customers.Guest").Text)</a>
                                    }
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="PageUrl" />
                                </div>
                                <div class="col-md-9">
                                    <div class="form-text-row">@Model.PageUrl</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="ReferrerUrl" />
                                </div>
                                <div class="col-md-9">
                                    <div class="form-text-row">@Model.ReferrerUrl</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="CreatedOnUtc" />
                                </div>
                                <div class="col-md-9">
                                    <div class="form-text-row">@Model.CreatedOnUtc</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="log-delete" />