@model ErpShipToAddressSearchModel

@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T("NopStation.Plugin.B2B.B2BB2CFeatures.SiteMapNode.Title.ErpShipToAddress").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName(B2BB2CFeaturesDefaults.ErpShipToAddress_SiteMapNode_SystemName);
}

@{
    const string hideSearchBlockAttributeName = "ErpShipToAddresssPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);

    var storeScope = await storeContext.GetActiveStoreScopeConfigurationAsync();
    var b2BB2CFeaturesSettings = await settingService.LoadSettingAsync<B2BB2CFeaturesSettings>(storeScope);
}
<form asp-controller="ErpShipToAddress" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.ErpShipToAddresss")
        </h1>
        <div class="float-right">
            <a asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            <button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
                <i class="fa fa-upload"></i>
                @T("NopStation.Plugin.B2B.B2BB2CFeatures.Import")
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    @T("Admin.Common.Export")
                </button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">&nbsp;</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <button type="submit" name="exportexcel-all">
                            <i class="fa fa-file-excel-o"></i>
                            @T("NopStation.Plugin.B2B.B2BB2CFeatures.B2B.All")
                        </button>
                    </li>
                    <li>
                        <button type="button" id="exportexcel-selected">
                            <i class="fa fa-file-excel-o"></i>
                            @T("NopStation.Plugin.B2B.B2BB2CFeatures.B2B.Selected")
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default card-search">
                        <div class="card-body">
                            <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                                <div class="search-text">@T("Admin.Common.Search")</div>
                                <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                                <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                            </div>

                            <div class="search-body @(hideSearchBlock ? "closed" : "")">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchShipToCode" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchShipToCode" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchEmailAddresses" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchEmailAddresses" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchRepFullName" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchRepFullName" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchErpAccountId" />
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="search-account-code" autocomplete="off" placeholder="Search by Erp Account number" class="form-control" />
                                                <span id="search-account-by-code"></span>
                                                <button type="button" id="search-account-clear" class="btn bg-gray" style="display: none; margin-top: 5px;">@T("Admin.Common.Clear")</button>
                                                <input asp-for="SearchErpAccountId" autocomplete="off" style="display: none;" />
                                                <script>
                                                    $(document).ready(function () {
                                                        $('#search-account-code').autocomplete({
                                                            delay: 500,
                                                            minLength: 3,
                                                            source: function (request, response) {
                                                                $.ajax({
                                                                    url: '@(Url.Action("ErpAccountSearchAutoComplete", "ErpAccount"))',
                                                                    dataType: 'json',
                                                                    data: { term: request.term },
                                                                    success: function (data) {
                                                                        // Check if there are no results
                                                                        if (data.length === 0) {
                                                                            response([{ label: 'No results found', value: '' }]);
                                                                        } else {
                                                                            response(data);
                                                                        }
                                                                    }
                                                                });
                                                            },
                                                            select: function (event, ui) {
                                                                if (ui.item.value === '' || ui.item.label === 'No results found') {
                                                                    // No actual item selected, handle accordingly
                                                                    return false;
                                                                }
                                                                $('#@Html.IdFor(model => model.SearchErpAccountId)').val(ui.item.erpaccountid);
                                                                $('#search-account-by-code').text(ui.item.label);

                                                                $('#search-account-clear').show();
                                                                $('#validationMessageErpAccountId').hide();
                                                                return false;
                                                            }
                                                        });

                                                        //remove button
                                                        $('#search-account-clear').click(function () {
                                                            $('#@Html.IdFor(model => model.SearchErpAccountId)').val('0');
                                                            $('#search-account-by-code').text('');
                                                            $('#search-account-clear').hide();
                                                            return false;
                                                        });
                                                    });

                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchShipToName" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchShipToName" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchRepNumber" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchRepNumber" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="ShowInActive" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="ShowInActive" asp-items="Model.ShowInActiveOption" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="ErpSalesOrganisationId" />
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="search-address-code" autocomplete="off" placeholder="Search by Erp Sales Organisation Code" class="form-control" />
                                                <span id="search-address-by-code"></span>
                                                <button type="button" id="search-address-clear" class="btn bg-gray" style="display: none; margin-top: 5px;">@T("Admin.Common.Clear")</button>
                                                <input asp-for="ErpSalesOrganisationId" autocomplete="off" style="display: none;" />
                                                <script>
                                                    $(document).ready(function () {
                                                        $('#search-address-code').autocomplete({
                                                            delay: 500,
                                                            minLength: 3,
                                                            source: function (request, response) {
                                                                $.ajax({
                                                                    url: '@(Url.Action("ErpSalesOrganisationSearchAutoComplete", "ErpSalesOrg"))',
                                                                    dataType: 'json',
                                                                    data: { term: request.term },
                                                                    success: function (data) {
                                                                        // Check if there are no results
                                                                        if (data.length === 0) {
                                                                            response([{ label: 'No results found', value: ''}]);
                                                                        } else {
                                                                            response(data);
                                                                        }
                                                                    }
                                                                });
                                                            },
                                                            select: function (event, ui) {

                                                                if (ui.item.value === '' || ui.item.label === 'No results found') {
                                                                    // No actual item selected, handle accordingly
                                                                    return false;
                                                                }
                                                                $('#@Html.IdFor(model => model.ErpSalesOrganisationId)').val(ui.item.b2bsalesorgid);
                                                                $('#search-address-by-code').text(ui.item.label);

                                                                $('#search-address-clear').show();
                                                                return false;
                                                            }
                                                        });

                                                        //remove button
                                                        $('#search-address-clear').click(function () {
                                                            $('#@Html.IdFor(model => model.ErpSalesOrganisationId)').val('0');
                                                            $('#search-address-by-code').text('');
                                                            $('#search-address-clear').hide();
                                                            return false;
                                                        });
                                                    });

                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="text-center col-12">
                                        <button type="button" id="search-erpShipToAddresss" class="btn btn-primary btn-search">
                                            <i class="fas fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <div class="card-body">
                            @await Html.PartialAsync("Table", new DataTablesModel
                            {
                                Name = "erpShipToAddresss-grid",
                                                    UrlRead = new DataUrl("List", "ErpShipToAddress", null),
                                                    SearchButtonId = "search-erpShipToAddresss",
                                                    Length = Model.PageSize,
                                                    LengthMenu = Model.AvailablePageSizes,
                                                    Filters = new List<FilterParameter>
                                                    {
                                                    new FilterParameter(nameof(Model.SearchShipToCode)),
                                                    new FilterParameter(nameof(Model.SearchShipToName)),
                                                    new FilterParameter(nameof(Model.SearchEmailAddresses)),
                                                    new FilterParameter(nameof(Model.SearchErpAccountId)),
                                                    new FilterParameter(nameof(Model.SearchRepNumber)),
                                                    new FilterParameter(nameof(Model.SearchRepFullName)),
                                                    new FilterParameter(nameof(Model.SearchRepPhoneNumber)),
                                                    new FilterParameter(nameof(Model.SearchRepEmail)),
                                                    new FilterParameter(nameof(Model.ErpSalesOrganisationId)),
                                                    new FilterParameter(nameof(Model.ShowInActive), typeof(string)),
                                                    },
                                                    ColumnCollection = new List<ColumnProperty>
                                                    {
                                                    new ColumnProperty(nameof(ErpShipToAddressModel.Id))
                                                    {
                                                    IsMasterCheckBox = true,
                                                    Render = new RenderCheckBox("checkbox_erpnopusers"),
                                                    ClassName = NopColumnClassDefaults.CenterAll,
                                                    Width = "50",
                                                    },
                                                    new ColumnProperty(nameof(ErpShipToAddressModel.ErpAccountSalesOrgName))
                                                    {
                                                    Title = T("B2BB2CFeatures.ErpShipToAddress.Fields.ErpAccountSalesOrg").Text,
                                                    Width = "100",
                                                    Render =  new RenderCustom("RenderSalesOrgAccount"),
                                                    Visible = b2BB2CFeaturesSettings.UseMultiSalesOrg,
                                                    },
                                                    new ColumnProperty(nameof(ErpShipToAddressModel.ErpAccount))
                                                    {
                                                    Title = T("B2BB2CFeatures.ErpShipToAddress.Fields.ErpAccount").Text,
                                                    Width = "100",
                                                    Render =  new RenderCustom("RenderErpAccount")
                                                    },
                                                    new ColumnProperty(nameof(ErpShipToAddressModel.ShipToCode))
                                                    {
                                                    Title = T("B2BB2CFeatures.ErpShipToAddress.Fields.ShipToCode").Text,
                                                    Width = "200"
                                                    },
                                                    new ColumnProperty(nameof(ErpShipToAddressModel.ShipToName))
                                                    {
                                                    Title = T("B2BB2CFeatures.ErpShipToAddress.Fields.ShipToName").Text,
                                                    Width = "100"
                                                    },
                                                    new ColumnProperty(nameof(ErpShipToAddressModel.Suburb))
                                                    {
                                                    Title = T("B2BB2CFeatures.ErpShipToAddress.Fields.Suburb").Text,
                                                    Width = "100"
                                                    },
                                                    new ColumnProperty(nameof(ErpShipToAddressModel.EmailAddresses))
                                                    {
                                                    Title = T("B2BB2CFeatures.ErpShipToAddress.Fields.EmailAddresses").Text,
                                                    Width = "100"
                                                    },
                                                    new ColumnProperty(nameof(ErpShipToAddressModel.RepNumber))
                                                    {
                                                    Title = T("B2BB2CFeatures.ErpShipToAddress.Fields.RepNumber").Text,
                                                    Width = "100"
                                                    },
                                                    new ColumnProperty(nameof(ErpShipToAddressModel.RepFullName))
                                                    {
                                                    Title = T("B2BB2CFeatures.ErpShipToAddress.Fields.RepFullName").Text,
                                                    Width = "200"
                                                    },
                                                    new ColumnProperty(nameof(ErpShipToAddressModel.IsActive))
                                                    {
                                                    Title = T("Admin.ErpShipToAddress.Fields.Active").Text,
                                                    Width = "100",
                                                    ClassName =  NopColumnClassDefaults.CenterAll,
                                                    Render = new RenderBoolean()
                                                    },
                                                    new ColumnProperty(nameof(ErpShipToAddressModel.Id))
                                                    {
                                                    Title = T("Admin.Common.Edit").Text,
                                                    Width = "50",
                                                    ClassName =  NopColumnClassDefaults.Button,
                                                    Render = new RenderButtonEdit(new DataUrl("Edit"))
                                                    }
                                                    }
                                                    })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

@*export selected (Excel). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
<form asp-controller="ErpShipToAddress" asp-action="ExportExcelSelected" method="post" id="export-excel-selected-form">
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>

<script>
    $(document).ready(function () {
        $('#exportexcel-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-excel-selected-form #selectedIds').val(ids);
            $('#export-excel-selected-form').submit();
            updateTable('#erpShipToAddresss-grid');
            return false;
        });
    });
</script>

@*import ErpShipToAddress form*@
<div id="importexcel-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importexcel-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="importexcel-window-title">@T("Admin.Common.ImportFromExcel")</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form asp-controller="ErpShipToAddress" asp-action="ImportExcel" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="modal-body">
                        <ul class="common-list">
                            <li>
                                <em>@T("Admin.Common.ImportFromExcel.ManyRecordsWarning")</em>
                            </li>
                        </ul>
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="label-wrapper">
                                    <label class="col-form-label">
                                        @T("Admin.Common.ExcelFile")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <input type="file" id="importexcelfile" name="importexcelfile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            @T("Admin.Common.ImportFromExcel")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .button-column {
        text-align: center !important;
    }
</style>

<script asp-location="Footer">

    function RenderErpAccount(data, type, row, meta) {
        if (row.ErpAccountId <= 0)
            return data;

        if (row.IsDeletedErpAccount)
          return '<a href="#">' + data + '</a>';

        return '<a href="/Admin/ErpAccount/ErpAccountEdit/' + row.ErpAccountId + '">' + data + '</a>';
    }

    function RenderSalesOrgAccount(data, type, row, meta) {
        if (row.ErpAccountSalesOrgId <= 0)
            return data;

        return '<a href="/Admin/ErpSalesOrg/ErpSalesOrgEdit/' + row.ErpAccountSalesOrgId + '">' + data + '</a>';
    }

</script>