@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@{
    await Html.RenderPartialAsync("_Notifications");
}
@{
    await Html.RenderPartialAsync("_JavaScriptDisabledWarning");
} 
@{
    var hasSalesRepRole = await customerService.IsInCustomerRoleAsync(await workContext.GetCurrentCustomerAsync(), ERPIntegrationCoreDefaults.B2BSalesRepRoleSystemName);
}
@{
    var controllerName = Url.ActionContext.RouteData.Values["controller"].ToString();
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase);
}

<div class="master-wrapper-page">
    @await Component.InvokeAsync(typeof(AdminHeaderLinksViewComponent))
    <div class="responsive-nav-wrapper-parent">
        <div class="responsive-nav-wrapper">
            <div class="menu-title">
                <span>@T("SevenSpikes.Themes.Common.MenuTitle")</span>
            </div>
            <div class="search-wrap">
                <span>@T("Search")</span>
            </div>
            <div class="mobile-logo">
                @await Component.InvokeAsync(typeof(LogoViewComponent))
            </div>
            <div class="shopping-cart-link">               
            </div>
            <div class="personal-button" id="header-links-opener">
                <span>@T("SevenSpikes.Themes.Common.Personal")</span>
            </div>
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("_Header");
    }
    <script asp-location="Footer">
        var localized_data = {
            AjaxCartFailure: "@T("AjaxCart.Failure")"
        };
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart', localized_data);
    </script>
    @if (!hasSalesRepRole)
    {
        <div class="header-menu">
            @await Component.InvokeAsync(typeof(TopMenuViewComponent))
        </div>
    }

    @if (isHomePage)
    {
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_main_slider" })
    }
    <div class="master-wrapper-content" id="main" role="main">
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.ContentBefore })

        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }
        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.ContentAfter })
    </div>
    @if (isHomePage)
    {
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_reviews_slider" })
    }
    @if (!hasSalesRepRole)
    {
        @await Component.InvokeAsync(typeof(FooterViewComponent))
    }
</div>
@await Component.InvokeAsync(typeof(EuCookieLawViewComponent))
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
