@using Nop.Web.Models.Customer
@using NopStation.Plugin.B2B.B2BB2CFeatures.Model.ErpAccountPublic
@model RecentTransactionSearchModel

@{
    Layout = "_ColumnsOne";
    //title
    NopHtml.AddTitleParts(T("PageTitle.OrderDetails").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-order-details-page");
    await Html.PartialAsync("~/Plugins/NopStation.Plugin.B2B.B2BB2CFeatures/Views/Shared/_DatatableScripts.cshtml");
}

<div class="page account-page customer-info-page b2b-invoice-list">
    <div class="page-body">
        <div class="fieldset">
            <div class="row">
                <input type="hidden" asp-for="ErpOrderNumber" />
                <input type="hidden" asp-for="ErpAccountId" />
                <input type="hidden" asp-for="ErpNopUserId" />
                <div class="my-inputs">
                    <label asp-for="SearchDocumentNumberOrName" asp-postfix=":"></label>
                    <input asp-for="SearchDocumentNumberOrName" />
                </div>
                <div class="my-inputs">
                    <label asp-for="SearchTransactionDate" asp-postfix=":"></label>
                    <input asp-for="SearchTransactionDate" type="text" />
                </div>
                <div class="my-inputs">
                    <label asp-for="SearchSortOptionId" asp-postfix=":"></label>
                    <select asp-for="SearchSortOptionId" asp-items="Model.AvailableSortOptions"></select>
                </div>
                <button type="button" id="search-b2baccount-financial-transactions" class="btn btn-primary btn-search btn-b2b-search">
                    <i class="fa fa-search"></i>
                    @T("Admin.Common.Search")
                </button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                @{
                    var gridModel = new DataTablesModel
                    {
                        Name = "transaction-list-grid",
                        UrlRead = new DataUrl("LoadErpInvoiceList", "ErpAccountPublic", null),
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        SearchButtonId = "search-b2baccount-financial-transactions",
                        Filters = new List<FilterParameter>
                                {
                                new FilterParameter(nameof(Model.SearchDocumentNumberOrName)),
                                new FilterParameter(nameof(Model.SearchTransactionDate)),
                                new FilterParameter(nameof(Model.ErpAccountId)),
                                new FilterParameter(nameof(Model.ErpNopUserId)),
                                new FilterParameter(nameof(Model.SearchSortOptionId)),
                                new FilterParameter(nameof(Model.ErpOrderNumber)),
                                }
                    };
                    var postindateRender = new RenderDate();
                    postindateRender.Format = B2BB2CFeaturesDefaults.ErpDateFormatForDataTable;
                    gridModel.ColumnCollection.Add(new ColumnProperty(nameof(RecentTransactionModel.PostingDate))
                    {
                        Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpInvoices.FinancialTransaction.Fields.PostingDate").Text,
                        Width = "200",
                        Render = postindateRender
                    });
                    gridModel.ColumnCollection.Add(new ColumnProperty(nameof(RecentTransactionModel.DocumentType))
                    {
                        Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpInvoices.FinancialTransaction.Fields.DocumentType").Text,
                        Width = "200"
                    });
                    gridModel.ColumnCollection.Add(new ColumnProperty(nameof(RecentTransactionModel.DocumentNo))
                    {
                        Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpInvoices.FinancialTransaction.Fields.DocumentNo").Text,
                        Width = "200",
                        ClassName = "download-invoices",
                        Render = new RenderCustom("renderDownloadInvoiceLink")
                    });
                    gridModel.ColumnCollection.Add(new ColumnProperty(nameof(RecentTransactionModel.DocumentNo))
                    {
                        Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpInvoices.FinancialTransaction.Fields.ProofOfDelivery").Text,
                        Width = "200",
                        ClassName = "download-invoices",
                        Render = new RenderCustom("renderColumnPOD")
                    });
                    gridModel.ColumnCollection.Add(new ColumnProperty(nameof(RecentTransactionModel.Status))
                    {
                        Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpInvoices.FinancialTransaction.Fields.Status").Text,
                        Width = "200"
                    });
                    gridModel.ColumnCollection.Add(new ColumnProperty(nameof(RecentTransactionModel.Remaining))
                    {
                        Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpInvoices.FinancialTransaction.Fields.Remaining").Text,
                        Width = "200",
                    });
                    gridModel.ColumnCollection.Add(new ColumnProperty(nameof(RecentTransactionModel.AmountExVat))
                    {
                        Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpInvoices.FinancialTransaction.Fields.AmountExVat").Text,
                        Width = "200",
                    });
                }
                @await Html.PartialAsync("Table", gridModel)
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="podModal" role="dialog" title="POD List" style="display: none;">
    <div class="modal-body pod-document-list">
        <span class="pod-loading">Loading...</span>
        <ol id="downloadablePodList"></ol>
    </div>
    @* <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h3 class="modal-title">POD List <span class="pod-loading">(Loading...)</span></h3>
            </div>
            <div class="modal-body pod-document-list">
                <ol id="downloadablePodList"></ol>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog --> *@
</div>

<script asp-location="Footer">
    $("#SearchTransactionDate").datepicker({
        dateFormat: '@B2BB2CFeaturesDefaults.ErpDateFormatForPublicInputField'
    });
    function DownloadPod(documentNo, pod) {
        var downloadPoDActionUrl = "/ErpAccountPublic/DownloadPod?documentNo=" + documentNo + '&pod=' + pod + "";
        ErpAccountCommon.downloadFromUrl(downloadPoDActionUrl);
    }

    function renderDownloadInvoiceLink(data, type, row, meta) {
        return row.IsDocumentTypeDownloadable ? '<button type="button"  onclick="viewInvoiceListLinkGenerator(' + row.Id + ' )" class="btn btn-default btn-invoice-download">' + data + '</button>' : '<button type="button" class="btn btn-default btn-invoice-download-disabled" disabled>' + data + '</button>';
    }

    function viewInvoiceListLinkGenerator(documentNo) {
         var downloadInvoiceActionUrl = "/ErpAccountPublic/DownloadInvoice/?invoiceId=" + documentNo + "";
        ErpAccountCommon.downloadFromUrl(downloadInvoiceActionUrl);
    }

    function renderColumnPOD(data, type, row, meta) {
        return row.IsDocumentTypeDownloadable ? '<button onclick=\"podModalShow(' + data + ');return false;\" class="btn btn-default pod-download-btn">@T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpInvoices.FinancialTransaction.Fields.DownloadPod")</button>' : '<button type="button" class="btn btn-default btn-invoice-download-disabled" disabled>@T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpInvoices.FinancialTransaction.Fields.DownloadPod")</button>';
    }

    function podModalShow(documentNo) {
        $('.pod-loading').show();
        var pods = $("#downloadablePodList");
        pods.html('');

        var sendData =
        {
            DocumentNo : documentNo
        };
        $.ajax({
            cache: false,
            type: "GET",
            url: "@Url.Action("GetPodDocumentList", "ErpAccountPublic")",
            data: sendData,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                $('#podModal').css('opacity', '1');
                if (data.HavePodDocument) {
                    $.each(data.podDocuments, function (id, pod) {
                        pods.append($('<li></li>').html('<a onclick=\'DownloadPod("' + documentNo + '","' + pod + '")\' href>' + pod + '</a>'));
                    });
                } else {
                    pods.append($('<li></li>').html('No POD found'));
                }
                $('.pod-loading').hide();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Failed to Load');
                $('.pod-loading').hide();
            }
        });

        // $('#podModal').modal("show");
        $("#podModal").dialog({
            modal: true,
            draggable: false,
            closeOnEscape: true
        });
    }

    function DownloadPod(documentNo, pod) {
        var downloadPoDActionUrl = "/ErpAccountPublic/DownloadPod?documentNo=" + documentNo + '&pod=' + pod + "";
        ErpAccountCommon.downloadFromUrl(downloadPoDActionUrl);
    }
</script>
