@model B2CMacsteelExpressShopModel
@using NopStation.Plugin.B2B.B2BB2CFeatures.Areas.Admin.Models

@{
    Layout = "_AdminLayout";
    //page title
	NopHtml.AddTitleParts(T("Plugin.Misc.NopStation.Plugin.B2B.B2BB2CFeatures.B2CMacsteelExpressShop.Edit").Text);
    ViewBag.PageTitle = T("Plugin.Misc.NopStation.Plugin.B2B.B2BB2CFeatures.B2CMacsteelExpressShop.Edit").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName(B2BB2CFeaturesDefaults.B2CMacsteelExpressShop_SiteMapNode_SystemName);
}

<form asp-controller="B2CMacsteelExpressShop" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
			@T("Plugin.Misc.NopStation.Plugin.B2B.B2BB2CFeatures.B2CMacsteelExpressShop.Edit")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
				<a asp-action="List">@T("Plugin.Misc.NopStation.Plugin.B2B.B2BB2CFeatures.B2CMacsteelExpressShop.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
			<span id="B2CMacsteelExpressShop-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
	@await Html.PartialAsync("~/Plugins/NopStation.Plugin.B2B.B2BB2CFeatures/Areas/Admin/Views/B2CMacsteelExpressShop/_CreateOrUpdate.cshtml", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="B2CMacsteelExpressShop-delete" />